<!DOCTYPE html>

<html>
  <head>
    <title><%= content_for(:title) || "Konitagious" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <div class="container py-5" style="max-width: 480px;">
        <% if notice %>
          <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
